p {
    color: rgb(0, 0, 0);
}
/* Target */
.special {
    color:  green;
}

/* Kabab case or Camel case */
.one{

    border: 5px solid salmon;

    text-align: center;
    width: auto;
}
    .two {

        /* background-color: rgb();  RBG */
        
        border: 5px solid cadetblue;
        text-align: center;
        width: auto;
    }
    .three{

            /* background-color: rgb();  RBG */
            border: solid 5px rgb(217, 219, 91);

            text-align: center;
            width: auto;
    }
body{
    margin: 8%;
}
.one, .two, .three {
    background-color: #ddd; /* Color */
        padding: 10px; 
        /* padding: 10px; = 10px 10px 10px 10px */
        margin: 10px;
        display: block;
        outline: #192324 solid 10px;
}