img {
	width: 45%;
	height: 11cm;
    margin: 5px;
    border-radius: 10px;
}
body{
	background-color: #FFF;
	margin: 0;
}
h4 {
	color: red;
	font-weight: bold;
}
.wall{
    border-radius: 8px 0px 0px 8px;
	background-color: aqua;
	color:black;
	border: 0px;
}
.logout{
    border-radius: 8px 8px 8px 0;
	background-color: greenyellow;
	color:black;
	border: 0px;
}
.tube{
    border-radius: 8px 0px 8px 0px;
	background-color: crimson;
	color:white;
	border: 0px;
}
.mx22{
	color: black;
}
.container{
	width: 90%;
	margin: 0 auto;
}
.logoduck{
	height: 1.4cm;
	width: auto;
	padding: 8px 0;
	cursor: pointer;
	border-radius: 50px;
	padding-top: 0px;
	padding-bottom: 2px;
}
nav{
	float: right;
    
}
header::after{
	content: '';
	display: table;
	clear: both;
}
nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
nav li{
	display: inline-block;
	margin-left: 0px 35px;
	padding-top: 35px;
	padding-left: 30px;
	position: relative;
	font-family: sans-serif;
    padding-top: 20px;
	padding-bottom: auto;

}
header{
	background:   #24252A;
	color: #edf0f1;
	position: fixed;
	top: 0;
	width: 100%;
	height: 58px;
	transition: 1s;
}
nav ul li a{
	color: #edf0f1;
	text-decoration: none;
	font-size: 16px;
}
nav ul li a:hover{
	color: #55d6aa;
}
nav a ::before{
	content: '';
	display: block;
	height: 5px;
	width: 100%;
	background-color: #24252A;
	position: absolute;
}
.MArgin{
	margin: 8px;


}
h2{
	color: #000;
}
.xxxxp{
    height: 50%;
}
button {
    cursor: pointer;
}
.RaDiO {
	text-align: center;
}
.radio12 {
	background-color: #FFF;
}